.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
.row:before, .row:after{
      display: none;
    }
/* #Wisteria Flat Button trial
==================================================*/
.wisteria-flat-button {
  position: relative;
  vertical-align: top;
  width: 80%;
  height: 40px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #8e44ad;
  border: 0;
  border-bottom: 2px solid #80399d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #80399d;
  box-shadow: inset 0 -2px #80399d;
}
.wisteria-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
.col {
  flex-basis: 100%;
  margin: 0 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 20%; /* The important bit */
  border: 2px solid blue;
  display: flex;
}
.container
{
	 overflow: hidden;
	display: flex;
}	
}
@media only screen and (max-width: 768px) {
.col {
  flex-basis: 100%;
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  flex: 100%; /* The important bit */
  border: 2px solid blue;
  display: flex;
}
}
.col-form {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 20%; /* The important bit */
  border: 2px solid blue;
  display: flex;
}
.col-form-button {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 20%; /* The important bit */
  border: 2px solid blue;
  display: flex;
	align-items: center;
}

.link span {
  padding: 10px;
  text-align: center;
  display:block;
}

.link {
  display: inline-block;
}
.container
{
	 overflow: hidden;
}
.container img{
  height:100%;
  width:100%;
  object-fit: cover;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
	position:absolute;
	width:100%;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
}

.aside-1 {
  background: gold;
	padding-top: 100px;
}

.aside-2 {
  background: hotpink;
}
[class*="col-"] {
    width: 100%;
}
/*
@media screen and (max-width:990px) {
  .container { flex-wrap: wrap;  }
  .item:first-child { flex-basis: 100%; }
}
@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}
 (min-width: 800px) */
@media all {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
#logo{

	margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
	background: url(../eventhive.png) no-repeat center;
	background-size: contain;
	display: block;

}

nav {

	float: right;
	padding: 20px;	

}

#menu-icon {

	width: 27px;
	height: 22px;
	background: url(../menu.png) center;
background-size: contain;
}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #2262AD;

}

/*MEDIA QUERY*/

@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}

