.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col {
  flex: 1 1 20%; /* The important bit */
  padding: 20px;
  color: white;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  height: 300px;
}
.trick {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 150px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.container img{
  height:100%;
  width:100%;
  object-fit: cover;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  height: -webkit-fill-available;
  text-align: left;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}
