/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 20%;
}
.span_2_of_4 {
	width: 35%;
	display:inline-block;
}
.span_1_of_4 {
	width: 15%;
	display:inline-block;
}
.span_21_of_2 {
	width: 9%;
}
.span_22_of_2 {
	width: 17%;
}
.span_23_of_2 {
	width: 30%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.trick {
  display: inline-block;
  vertical-align: top;
  height: 150px;
}
.flex-grid {
  display: flex;
}
.col { 	display: inline-block; 	float:left; 	margin: 1% 0 1% 1.6%; border:1px solid} 
.col:first-child { margin-left: 0; } 
.value-button {
background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;  }
